	
		h1 
		{
			font-size: 24pt;
			color: red;
			text-decoration: underline;
			font-family: tahoma, helvetica, sans-serif;
		}
		em {
			color: green;
			font-style: normal;
			background-color: lightgrey;
			font-weight: bold;
		}
<!-- This is a comment line -->
ul {
		list-style-type: #&9632;
	}
		
